### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
TotalPlayers = len(purchase_data["SN"].value_counts())
PlayerCount = pd.DataFrame({"Total Players":[TotalPlayers]})
PlayerCount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
NumberOfUniqueItems = len((purchase_data["Item ID"]).unique())
AveragePrice = (purchase_data["Price"]).mean()
NumberOfPurchases = (purchase_data["Purchase ID"]).count()
TotalRevenue = (purchase_data["Price"]).sum()

# Creating data frame 
summary_df = pd.DataFrame({"Number of Unique Items":[NumberOfUniqueItems],
                           "Average Price":[AveragePrice], 
                           "Number of Purchases": [NumberOfPurchases], 
                           "Total Revenue": [TotalRevenue]})
summary_df.style.format({'Average Price':"${:,.2f}",
                          'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [76]:
#group by gender
GenderStats = purchase_data.groupby("Gender")

# count by gender
TotalGenderCount = GenderStats.nunique()["SN"]

# percentage of palyers calculated by : Total count by gender and divivde by total players 
PlayersPercentage = TotalGenderCount / TotalPlayers

# Data frame created by
Gender = pd.DataFrame({ "Total Count": TotalGenderCount, "Percentage of Players": PlayersPercentage})

# Format the data frame with no index name in the corner 
Gender.index.name = None

# Format the values sorted by total count in descending order, and two decimal places for the percentage
Gender.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})
Gender.style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
# Count the total purchases by gender 
PurchaseCounts = GenderStats["Purchase ID"].count()

# Average purchase prices by gender
AveragePurchasePrice = GenderStats["Price"].mean()

# Average purchase total by gender 
AveragePurchaseValue = GenderStats["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
APurchaseTotalperPerson = AveragePurchaseValue/TotalGenderCount

# Create data frame with obtained values 
Gender = pd.DataFrame({"Purchase Count": PurchaseCounts, 
                                    "Average Purchase Price": AveragePurchasePrice,
                                    "Average Purchase Value":AveragePurchaseValue,
                                    "Avg Purchase Total per Person": APurchaseTotalperPerson})

# Provide index in top left as "Gender"
Gender.index.name = "Gender"

# Format with currency style
Gender.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [77]:
# Establish bins for ages
AgeBins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
AgeGroups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],AgeBins, labels=AgeGroups)
purchase_data

# Create new data frame with the added "Age Group" and group it
Groups = purchase_data.groupby("Age Group")

# Count total players by age category
TotalAgeCount = Groups["SN"].nunique()

# Calculate percentages by age category 
AgePercentage = (TotalAgeCount/TotalPlayers)

# Create data frame with obtained values
Age = pd.DataFrame({"Total Count": TotalAgeCount, "Percentage of Players": AgePercentage})

# Format the data frame with no index name in the corner
Age.index.name = None

# Format percentage with two decimal places 
Age.style.format({"Percentage of Players":"{:,.2f}"})
Age.style.format({"Percentage of Players":"{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [81]:
# Count purchases by age group
AgePurchaseCount = Groups["Purchase ID"].count()

# Obtain average purchase price by age group 
A_PurchasePriceAge = Groups["Price"].mean()

# Calculate total purchase value by age group 
TotalPurchaseValue = Groups["Price"].sum()

# Calculate the average purchase per person in the age group 
A_PurchasePerPerson = TotalPurchaseValue/TotalAgeCount

# Create data frame with obtained values
Age = pd.DataFrame({"Purchase Count": AgePurchaseCount,
                                 "Average Purchase Price": A_PurchasePriceAge,
                                 "Total Purchase Value": TotalPurchaseValue,
                                 "Average Purchase Total per Person": A_PurchasePerPerson})

# Format the data frame with no index name in the corner
Age.index.name = None

# Format with currency style
Age.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [84]:
# Group purchase data by screen names
Stats_Spender = purchase_data.groupby("SN")

# Count the total purchases by name
SpenderTotalCount = Stats_Spender["Purchase ID"].count()

# Calculate the average purchase by name 
AveragePurchasePrice_Spender = Stats_Spender["Price"].mean()

# Calculate purchase total 
TotalPurchase_Spender = Stats_Spender["Price"].sum()

# Create data frame with obtained values
TopSpenderResults = pd.DataFrame({"Purchase Count": SpenderTotalCount,
                             "Average Purchase Price": AveragePurchasePrice_Spender,
                             "Total Purchase Value":TotalPurchase_Spender})
# Sort in descending order to obtain top 5 spender names 
SpenderOrder = TopSpenderResults.sort_values(["Total Purchase Value"], ascending=False).head(5) #head() by default is the top 5

# Format with currency style
SpenderOrder.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [104]:
# Create new data frame with items related information 
Items_idnameprice = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
GroupItem = Items_idnameprice.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
ItemPurchaseCount = GroupItem["Price"].count()

# Calcualte the purchase value per item 
PurchaseValuePerItem = (GroupItem["Price"].sum()) 

# Find individual item price
IndividualItemPrice = PurchaseValuePerItem / ItemPurchaseCount

# Create data frame with obtained values
Item_DataFrame = pd.DataFrame({"Purchase Count": ItemPurchaseCount, 
                                   "Item Price": IndividualItemPrice,
                                   "Total Purchase Value": PurchaseValuePerItem})

# Sort in descending order to obtain top spender names and provide top 5 item names
TopSpendersName = Item_DataFrame.sort_values(["Purchase Count"], ascending=False).head(5) #head() is auto for top 5

# Format with currency style
TopSpendersName.style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [105]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
TopSpendersName = Item_DataFrame.sort_values(["Total Purchase Value"],ascending=False).head()
# Format with currency style
TopSpendersName.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})